#login_title {
  text-align: center;
  text-decoration: underline;
  color: blue;
}

#submit_button {
  margin: 0 auto;
  /* text-align: center; */
  background-color: black;
  color: #ffffff;
}

.bg {
  background: url("/static/images/signup.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form_layout {
  padding: 70px 0;
  margin: center 0;
}

.form-container {
  border: 2px solid #ffffff;
  padding: 30px 60px;
  margin-top: 20px;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.5);
}

