<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./icofont.min.css" />
    <link rel="stylesheet" href="./trail.css" />
    <link rel="stylesheet" href="./about_us.css" />
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <a href="#"><span>Agro</span>_center</a>
          </h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#obj">Objective</a></li>
            <li><a href="#about-us">About</a></li>
            <li>
              <a href="#shop">Shop</a>
            </li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <div class="box0">
      <h1>We are Agrocentre</h1>
      <h5>Harvest||Supply||Earn</h5>
    </div>

    <div class="col-12 text-center">
      <iframe
        src="./explore_agro.mp4"
        frameborder="0"
        id="video"
        width="50%"
        height="400"
        style="margin: 0 auto; border: none; border-radius: 5%"
      ></iframe>
    </div>
    <div class="services">
      <h3 id="h1">Our Special Services</h3>
      <div class="pa">
        <p>Digital Doctor</p>
        <p>Crop Suggestor</p>
        <p>Pest Detector</p>
        <p>Chatbot</p>
      </div>
    </div>
    <div class="box2">
      <h3>What's different when you work with us?</h3>
      <p class="box2.2">
        We are more than a digital agro-based shopping website.<br />
        Apart from delivering quickly and effectively-Quality of services is
        always top notch. <br />
        Cost effective due to out direct trade with the harvesters.<br />
        We provide you with a platform to openly discuss your problems and
        solutions, put forward your thoughts. <br />
        Give you advises regarding your crops if needed. <br />
        We take the best<br />

        We sell you the best
      </p>
    </div>

    <!-- <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-4">
          <img src="./images/image1.jpg" style="width: 300px" alt="" />
        </div>
        <div class="col-4">
          <img src="./images/image1.jpg" style="width: 300px" alt="" />
        </div>
        <div class="col-4">
          <img src="./images/image1.jpg" style="width: 300px" alt="" />
        </div>
      </div>
    </div> -->

    <div class="container-fluid">
      <div class="image-box">
        <div class="image-content">
          <img
            src="https://www.foodsafetynews.com/files/2018/08/mixed-fresh-fruits-vegetables-produce.jpg"
            alt="Bench"
          />
          <div class="image-detail">
            <h3>Crop Protection</h3>
            <div class="detail-text">
              <p>We protect your Crops</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="image-box">
        <div class="image-content">
          <img
            src="https://www.thebostoncalendar.com/system/events/photos/000/177/243/original/veggies_and_fruits.jpg?1524762502"
            alt="Mountain"
          />
          <div class="image-detail">
            <h3>Featued Services</h3>
            <div class="detail-text">
              <p>Service at your Doorstep</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="image-box">
        <div class="image-content">
          <img
            src="https://i.ndtvimg.com/i/2015-04/fruits-veggies-full_600x350_71428309873.jpg"
            alt="Bench"
          />
          <div class="image-detail">
            <h3>Best Quality</h3>
            <div class="detail-text">
              <p>We protect best Quality products</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="mt-5" style="padding: 30px">
      <h3 class="text-center" style="margin-left: -500px">Write to Us</h3>
      <form
        class="container"
        style="
          border-width: 20px;
          border: solid;
          border-color: black;
          padding: 20px 20px;
          background-color: rgb(225, 250, 188);
        "
      >
        <div class="col-4 form-group">
          <label for="exampleInputEmail1" id="about_font">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>

        <div class="col-5 form-group mt-3">
          <label for="exampleInputEmail1">Subject</label>
          <input
            type="text"
            class="form-control"
            placeholder="About missing products or suggestions or queries"
          />
        </div>

        <div class="col-8 form-group mt-3">
          <label for="exampleFormControlTextarea1">Write to Us</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>

    <div class="col-12 text-center">
      <iframe
        src="./guide_agro.mp4"
        frameborder="0"
        id="video"
        width="50%"
        height="400"
        style="margin: 0 auto; border: none; border-radius: 5%"
      ></iframe>
    </div>

    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyb.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyg.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyb.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyg.png" alt="" />
    </div>

    <script>
      (function () {
        var boxes = document.getElementsByClassName("image-box");

        Array.prototype.forEach.call(boxes, function (box) {
          var detail = box.getElementsByClassName("image-detail")[0];
          var img = box.getElementsByTagName("img")[0];
          var btn = box.getElementsByClassName("button")[0];

          box.addEventListener("mouseover", function () {
            detail.classList.add("hide");
            img.classList.add("detail-hover-state");
            btn.classList.add("show");
          });

          box.addEventListener("mouseout", function () {
            detail.classList.remove("hide");
            img.classList.remove("detail-hover-state");
            btn.classList.remove("show");
          });
        });
      })();
    </script>
  </body>
</html>
